streamlit==1.24.0
streamlit-option-menu==0.3.13
streamlit-folium==0.11.1
Pillow
folium==0.14.0  # Este es necesario por streamlit-folium, que necesita >=0.13
geopandas==0.13.0
transformers==4.27.0
tokenizers==0.13.3
torch==2.4.1
pandas==1.5.3
matplotlib==3.5.2
wordcloud==1.9.3
fpdf==1.7.2
gtts==2.2.3  # Para texto a voz (gTTS)
python-dotenv==0.21.0


