streamlit==1.33.0
pandas==2.2.2
folium==0.17.0
streamlit-folium==0.21.1
geopandas==1.0.1
transformers==4.45.0
torch==2.4.1
wordcloud==1.9.3
safetensors==0.4.5
gdown==5.2.0
matplotlib==3.6.0
openai==0.28.0
fpdf==1.7.2
python-dotenv==1.0.0


 
