streamlit==1.25.0
streamlit-option-menu==0.3.13
streamlit-folium==0.10.0
folium==0.13.0  # Este es necesario por streamlit-folium, que necesita >=0.13
geopandas==0.10.2
pillow==9.2.0
transformers==4.27.0
torch==2.4.1
pandas==1.4.3
matplotlib==3.5.2
wordcloud==1.8.1
fpdf==1.7.2
base64
gtts==2.2.3  # Para texto a voz (gTTS)
